xsltunit/xsltunit-maven-archetype/src/main/resources/archetype-resources/src/main/resources/xsd/mozilla/s001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="div"/>
      </xs:sequence>
      <xs:attribute name="divs" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div" type="xs:integer"/>
</xs:schema>
