xsltunit/xsltunit-maven-archetype/src/main/resources/archetype-resources/src/main/resources/xsd/w3schools/breakfast.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ingredient"/>
      </xs:sequence>
      <xs:attribute name="calories" use="required" type="xs:integer"/>
      <xs:attribute name="price" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingredient" type="xs:string"/>
</xs:schema>
